server {
    listen      [::]:80;
    server_name {{ item.domains|join(' ') }};

    include /etc/nginx/snippets/letsencrypt.conf;

{% if nginx_sslonly %}
    return 301 https://$server_name$request_uri;  # enforce https
{% else %}
    include /etc/nginx/{{ item.name }}.d/*;
{% endif %}
}

server {
    listen [::]:443 ssl http2;
{% if nginx_enable_proxy %}
    listen [::]:444 ssl proxy_protocol http2;
{% endif %}
    server_name  {{ item.domains|join(' ') }};

{% if item.root is defined %}
    root {{ item.root }};
{% endif %}

    ssl                  on;
{% if item.cert is defined %}
    ssl_certificate      {{ item.cert }};
    ssl_certificate_key  {{ item.key }};
    ssl_trusted_certificate {{ item.cert }};
{% else %}
    ssl_certificate      {{ nginx_fullchain_path }};
    ssl_certificate_key  {{ nginx_key_path }};
    ssl_trusted_certificate {{ nginx_fullchain_path }};
{% endif %}
    ssl_stapling on;
    ssl_stapling_verify on;
    resolver 8.8.4.4;

    ssl_protocols {{ nginx_ssl_protocols }};
{% if nginx_ssl_ciphers != '' %}
    ssl_ciphers '{{ nginx_ssl_ciphers }}';
{% endif %}
    ssl_prefer_server_ciphers   off;
{% if nginx_enable_spnego %}
    auth_gss_keytab '/etc/nginx/krb5-ngx.keytab';
    auth_gss_realm {{ nginx_spnego_realm }};
    auth_gss_service_name HTTP/{{ ansible_fqdn }};
{% for item in nginx_spengo_users %}
    auth_gss_authorized_principal {{ item }};
{% endfor %}
{% endif %}

    add_header Strict-Transport-Security max-age=15768000;
    ssl_session_timeout 1d;
    ssl_session_cache shared:SSL:50m;
    ssl_session_tickets off;

    include /etc/nginx/snippets/letsencrypt.conf;

    include /etc/nginx/{{ item.name }}.d/*;
}
